<a href="https://colab.research.google.com/github/madhavibethala/pyspark_examples/blob/main/dates_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:4 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [66.2 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:13 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Ign:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [695 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,263 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [544 kB]
Get:19 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [26.7 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [510 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,421 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,786 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,196 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [39.4 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,699 kB]
Get:27 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [914 kB]
Get:28 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.9 kB]
Get:29 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [44.1 kB]
Fetched 13.6 MB in 8s (1,632 kB/s)
Reading package lists... Done

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

In [4]:
import findspark
findspark.init()
from pyspark import SparkContext
sc=SparkContext.getOrCreate()
sc

In [5]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()
spark

In [6]:
!ls

sample_data  spark-2.3.1-bin-hadoop2.7	spark-2.3.1-bin-hadoop2.7.tgz

In [21]:
from pyspark.sql.functions import to_date,to_timestamp,lit,col

In [22]:
df=spark.createDataFrame([('2019-12-25 13:30:00',)],['Christmas'])
df.show(1)

+-------------------+
|          Christmas|
+-------------------+
|2019-12-25 13:30:00|
+-------------------+

In [23]:
df.select(to_date(col('Christmas'),'yyyy:MM:dd HH:mm:ss')).show(1)

+-------------------------------------------+
|to_date(`Christmas`, 'yyyy:MM:dd HH:mm:ss')|
+-------------------------------------------+
|                                       null|
+-------------------------------------------+

In [27]:
df.select(to_date(col('Christmas'),'yyyy-MM-dd HH:mm:ss'),to_timestamp(col('Christmas'),'yyyy-MM-dd HH:mm:ss')).show(1)

+-------------------------------------------+------------------------------------------------+
|to_date(`Christmas`, 'yyyy-MM-dd HH:mm:ss')|to_timestamp(`Christmas`, 'yyyy-MM-dd HH:mm:ss')|
+-------------------------------------------+------------------------------------------------+
|                                 2019-12-25|                             2019-12-25 13:30:00|
+-------------------------------------------+------------------------------------------------+

In [40]:
df1=spark.createDataFrame([('25/Dec/2009 13:30:00',)],['Christmas'])
df1.show(1)

+--------------------+
|           Christmas|
+--------------------+
|25/Dec/2009 13:30:00|
+--------------------+

In [41]:
df1.select(to_date(col('Christmas'),'dd/MMM/yyyy HH:mm:ss'),to_timestamp(col('Christmas'),'dd/MMM/yyyy HH:mm:ss')).show(1)

+--------------------------------------------+-------------------------------------------------+
|to_date(`Christmas`, 'dd/MMM/yyyy HH:mm:ss')|to_timestamp(`Christmas`, 'dd/MMM/yyyy HH:mm:ss')|
+--------------------------------------------+-------------------------------------------------+
|                                  2009-12-25|                              2009-12-25 13:30:00|
+--------------------------------------------+-------------------------------------------------+

In [36]:
df1=spark.createDataFrame([('12/25/2009 13:30:00',)],['Christmas'])
df1.show(1)

+-------------------+
|          Christmas|
+-------------------+
|12/25/2009 13:30:00|
+-------------------+

In [37]:
df1.select(to_date(col('Christmas'),'MM/dd/yyyy HH:mm:ss'),to_timestamp(col('Christmas'),'MM/dd/yyyy HH:mm:ss')).show(1)

+-------------------------------------------+------------------------------------------------+
|to_date(`Christmas`, 'MM/dd/yyyy HH:mm:ss')|to_timestamp(`Christmas`, 'MM/dd/yyyy HH:mm:ss')|
+-------------------------------------------+------------------------------------------------+
|                                 2009-12-25|                             2009-12-25 13:30:00|
+-------------------------------------------+------------------------------------------------+

In [42]:
from pyspark.sql import SparkSession 
spark=SparkSession.builder.getOrCreate()
df=spark.createDataFrame()
df.display()

TypeError: ignored

In [8]:
from pyspark.sql import * 

spark=SparkSession.builder.getOrCreate()
passanger=Row('Name','age','source','destination')
passanger1=passanger('David',22,'London','Paris')
passanger2=passanger('Steve',22,'New York','Sydey')
passanger_data=[passanger1,passanger2]
df=spark.createDataFrame(passanger_data)
df.show()

+-----+---+--------+-----------+
| Name|age|  source|destination|
+-----+---+--------+-----------+
|David| 22|  London|      Paris|
|Steve| 22|New York|      Sydey|
+-----+---+--------+-----------+

In [10]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
from pyspark.sql.functions import rand, randn
df = sqlContext.range(0, 7)
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
+---+

In [27]:

new_data=df.select('id',rand(seed=10).alias ('uniform'),rand(seed=27).alias ('normal')).show()

+---+-------------------+-------------------+
| id|            uniform|             normal|
+---+-------------------+-------------------+
|  0|0.41371264720975787|  0.714105256846827|
|  1| 0.7311719281896606| 0.8143487574232506|
|  2| 0.9031701155118229| 0.5282207324381174|
|  3| 0.1982919638208397|0.19369846818250636|
|  4|0.12714181165849525| 0.0838940132767162|
|  5| 0.7604318153406678| 0.9895050223719429|
|  6|   0.83487085888236| 0.8394775938142013|
+---+-------------------+-------------------+

In [32]:
df = sqlContext.range(0, 10).withColumn('rand1', rand(seed=10)).withColumn('rand2', rand(seed=27))
df.show()

+---+-------------------+-------------------+
| id|              rand1|              rand2|
+---+-------------------+-------------------+
|  0|0.41371264720975787|  0.714105256846827|
|  1| 0.7311719281896606| 0.8143487574232506|
|  2| 0.9031701155118229| 0.5282207324381174|
|  3|0.09430205113458567| 0.4420100497826609|
|  4|0.38340505276222947| 0.9387162206758006|
|  5| 0.1982919638208397|0.19369846818250636|
|  6|0.12714181165849525| 0.0838940132767162|
|  7| 0.7604318153406678| 0.9895050223719429|
|  8|   0.83487085888236| 0.8394775938142013|
|  9| 0.3142596916968412| 0.5809927918049477|
+---+-------------------+-------------------+

In [33]:
df.select([mean("rand1"), min("rand1"), max("rand1")]).show()

+------------------+-------------------+------------------+
|        avg(rand1)|         min(rand1)|        max(rand1)|
+------------------+-------------------+------------------+
|0.4760757936207261|0.09430205113458567|0.9031701155118229|
+------------------+-------------------+------------------+

In [35]:
df.describe('rand1','rand2').show()

+-------+-------------------+------------------+
|summary|              rand1|             rand2|
+-------+-------------------+------------------+
|  count|                 10|                10|
|   mean| 0.4760757936207261|0.6124968906616971|
| stddev| 0.3055791028722139|0.3060712918225637|
|    min|0.09430205113458567|0.0838940132767162|
|    max| 0.9031701155118229|0.9895050223719429|
+-------+-------------------+------------------+

In [36]:
df.stat.cov('rand1','rand2')

0.05983805032757693

In [37]:
df.stat.corr('rand1','rand2')

0.6397807763656534

In [40]:
names=['madhu','jai','syam']
items=["milk", "bread", "butter", "apples", "oranges"]
#df.spark.createDataFrame([(names[i%3]),(items[i%5]) for i in range(100)],['name','item'])
df = sqlContext.createDataFrame([(names[i%3], (items[i % 5]) for i in range(100)], ["name", "item"])

SyntaxError: ignored

In [41]:
# Put your code here
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()
spark

In [42]:
wget https://downloads.apache.org/spark/spark-3.0.3/spark-3.0.3-bin-hadoop2.7.tgz
tar xvf spark-*
sudo mv spark-3.0.3-bin-hadoop2.7 /opt/spark
echo "export SPARK_HOME=/opt/spark" >> ~/.bashrc
echo "export PATH=$PATH:$SPARK_HOME/bin" >> ~/.bashrc
echo "export PYSPARK_PYTHON=/usr/bin/python3" >> ~/.bashrc
rm -rf spark-3.0.3-bin-hadoop2.7.tgz
python3 -m pip install pytest-spark 
python3 -m pip install pyspark
python3 -m pip install pytest
echo done

SyntaxError: ignored