<a href="https://colab.research.google.com/github/madhavibethala/pyspark_examples/blob/main/spark_df_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz
!tar xf spark-3.0.0-bin-hadoop2.7.tgz
!pip install -q findspark

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,326 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,428 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,761 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,202 kB]
Fetched 8,972 kB in 3s (2,671 kB/s)
Reading package lists... Done

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop2.7"

In [3]:
import findspark
findspark.init()
from pyspark import SparkContext
sc=SparkContext.getOrCreate()
sc

In [4]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [5]:
# Put your code here
from pyspark.sql import SparkSession
from pyspark.sql import  Row
from pyspark.sql.functions import col

data=Row("ID","Name","Age","Area of Interest")
d1=data("1","Jack",22,"Data Science")
d2=data("2","Luke",21,"Data Analytics")
d3=data("3","Leo",24,"Micro Services")
d4=data("4","Mark",21,"Data Analytics")
final_data=[d1,d2,d3,d4]
df=spark.createDataFrame(final_data)
df.show()

+---+----+---+----------------+
| ID|Name|Age|Area of Interest|
+---+----+---+----------------+
|  1|Jack| 22|    Data Science|
|  2|Luke| 21|  Data Analytics|
|  3| Leo| 24|  Micro Services|
|  4|Mark| 21|  Data Analytics|
+---+----+---+----------------+

In [18]:

df1=df.describe('Age')
df1.show()
#df1.coalesce(1).write.parquet("Age")

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|                 4|
|   mean|              22.0|
| stddev|1.4142135623730951|
|    min|                21|
|    max|                24|
+-------+------------------+

In [34]:
#df2.withColumnRenamed("Area of Interest","AreaOfInterest").show()
#df2=df.select(col("ID").desc(),col("Name").desc(),col("Age").desc()).show()
df2.show()
#df2.write.parquet("NameSorted.parquet")
#df3=df.select('ID','Name','Age').desc().show()
 
#df4=df.orderBy(['ID','Name','Age'], ascending=True).show()
              
#df4.coalesce(1).write.parquet("NameSorted")

NameError: ignored

In [41]:
df3=df.select(['ID', 'Name','Age']
               ).orderBy('Name', 
                     ascending=False)
df3.show()

+---+----+---+
| ID|Name|Age|
+---+----+---+
|  4|Mark| 21|
|  2|Luke| 21|
|  3| Leo| 24|
|  1|Jack| 22|
+---+----+---+

In [46]:
df3[0][0]

Column<b'ID[0]'>

In [47]:
df3.collect()[0][1]

'4'

In [48]:
from pyspark.sql.functions import rand,randn

In [49]:
sam_df=spark.range(0,7)
sam_df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
+---+

In [63]:
sam_df.select("id",rand(seed=10).alias('uniform'),rand(seed=17).alias('normal')).show()

+---+-------------------+-------------------+
| id|            uniform|             normal|
+---+-------------------+-------------------+
|  0| 0.1709497137955568| 0.9697474945375325|
|  1| 0.8051143958005459|0.07530606222259384|
|  2| 0.5775925576589018|0.05242657018696939|
|  3|0.03422639313807285|0.34084319330900115|
|  4|0.11682250456449328| 0.7765220856039292|
|  5| 0.3252227809451943|0.09814808177418788|
|  6| 0.4358851046481089| 0.3187781551711073|
+---+-------------------+-------------------+

In [64]:
sam_df.describe('uniform','normal').show()
#data_df.show()
data_df.columns

AnalysisException: ignored

In [65]:
from pyspark.sql.functions import mean, min, max
sam_df.select([mean('uniform'), min('uniform'), max('uniform')]).show()

AnalysisException: ignored

In [66]:
from pyspark.sql.functions import rand
df = spark.range(0, 10).withColumn('rand1', rand(seed=10)).withColumn('rand2', rand(seed=27))

In [67]:
df.show()

+---+-------------------+-------------------+
| id|              rand1|              rand2|
+---+-------------------+-------------------+
|  0| 0.1709497137955568| 0.8894415403143504|
|  1| 0.8051143958005459| 0.9658033539477212|
|  2| 0.5775925576589018|0.18783354174799438|
|  3| 0.9476047869880925|0.28489885393300474|
|  4|    0.2093704977577| 0.5207165345237337|
|  5|0.03422639313807285|  0.808152402708103|
|  6|0.11682250456449328| 0.1753332481572636|
|  7| 0.3252227809451943| 0.9894530945118741|
|  8| 0.4358851046481089| 0.7275724505361818|
|  9|0.27831507107951303|   0.72995211246392|
+---+-------------------+-------------------+

In [68]:
df.stat.cov('rand1', 'rand2')

-0.01580184435383226

In [69]:
df.stat.corr('rand1', 'rand2')

-0.16622388738558816

In [70]:
# Create a DataFrame with two columns (name, item)
names = ["Alice", "Bob", "Mike"]
items = ["milk", "bread", "butter", "apples", "oranges"]
df = spark.createDataFrame([(names[i % 3], items[i % 5]) for i in range(100)], ["name", "item"])

In [71]:
df.show()

+-----+-------+
| name|   item|
+-----+-------+
|Alice|   milk|
|  Bob|  bread|
| Mike| butter|
|Alice| apples|
|  Bob|oranges|
| Mike|   milk|
|Alice|  bread|
|  Bob| butter|
| Mike| apples|
|Alice|oranges|
|  Bob|   milk|
| Mike|  bread|
|Alice| butter|
|  Bob| apples|
| Mike|oranges|
|Alice|   milk|
|  Bob|  bread|
| Mike| butter|
|Alice| apples|
|  Bob|oranges|
+-----+-------+
only showing top 20 rows

In [72]:
df.stat.crosstab("name", "item").show()

+---------+------+-----+------+----+-------+
|name_item|apples|bread|butter|milk|oranges|
+---------+------+-----+------+----+-------+
|      Bob|     6|    7|     7|   6|      7|
|     Mike|     7|    6|     7|   7|      6|
|    Alice|     7|    7|     6|   7|      7|
+---------+------+-----+------+----+-------+